
.main-logo{
  background: linear-gradient(90deg, #ff0000, #ff9100, #ff00f3, #0033ff, #ff00c4, #ff0000);
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 10s linear infinite;
}

 @keyframes animate{
  0%{
    background-position: 0%;
  }

  100%{
    background-position: 400%;
  }
} 

.history-topics-preview {
  overflow: hidden; 
  height: 80px;
  line-height: 16px; 
  position: relative;
  word-wrap: break-word;
}

.buttonHover:hover{
 transform: scale(1.05);
 color: #dc3545;
}
.cardHover:hover{
  transform: scale(1.02);
 }
/* .history-topics-preview:after { content: "..."; position :absolute; right:0; bottom: 2px;} */
